aioquic==1.2.0
anyio==4.4.0
astor==0.8.1
async_generator==1.10
black==24.8.0
brotli==1.1.0
brotlicffi==1.1.0.0
cchardet==2.1.7
cffi==1.17.1
click==8.1.7
ConfigParser==7.1.0
contextlib2==21.6.0
ctypes_snappy==1.03
curio==1.6
Cython==3.0.11
defusedxml==0.7.1
dl==0.1.0
docutils==0.21.2
exceptiongroup==1.2.2
filelock==3.16.0
h2==4.1.0
html5lib==1.1
HTMLParser==0.0.2
httpcore==1.0.5
httpx==0.27.2
hypothesis==6.112.1
ipython==8.12.3
ipywidgets==8.1.5
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.4
jnius==1.1.0
js==1.0
kerberos==1.3.1
keyring==25.3.0
lockfile==0.12.2
lxml==5.3.0
mock==5.1.0
mypy==1.11.2
numpy==2.1.1
olefile==0.47
protobuf==5.28.1
pylint==3.2.7
pymongo_auth_aws==1.3.0
pymongocrypt==1.11.0
pyodide==0.0.2
pyOpenSSL==24.2.1
PyQt5==5.15.11
PyQt5_sip==12.15.0
PyQt6==6.7.1
pyright==1.1.380
PySide6==6.7.2
pytest==8.3.3
python_socks==2.5.1
railroad==0.5.0
redis==5.0.8
ruff==0.6.5
service_identity==24.1.0
simplejson==3.19.3
Sphinx==8.0.2
thread==2.0.5
tornado==6.4.1
trove_classifiers==2024.9.12
trustme==1.1.0
urllib3_secure_extra==0.1.0
websockets==13.0.1
win_inet_pton==1.1.0
winkerberos==0.12.0
wmi==1.5.1
wsaccel==0.6.6
xmlrpclib==1.0.1
zstandard==0.23.0
